@model WebSite.Models.InvitationAcceptedViewModel

@{
    ViewBag.Title = "Invitation";
}

<div class="jumbotron">
    <h1>Invitation Accepted</h1>
    <p class="lead">You are now part of the '@Model.GroupName' group.</p>
</div>
