@{
    ViewBag.Title = "Invitation Already Used";
}

<div class="jumbotron">
    <h1>Invitation No Already Used</h1>
    <p class="lead">This invitation link has already been used by someone else.</p>
</div>
